@import 'variables', 'reset', 'mixins';
@import url(https://fonts.googleapis.com/css?family=Kumbh+Sans:100,200,300,regular,500,600,700,800,900);

body {
    font-family: $ff;
    position: relative;
}
////////////////////////navigation/////////////////////
.main__nav {
    width: 100%;
    height: 68px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 22px;
    border: 1px solid red;
    z-index: 2;
    .main__nav_hamburger {
        cursor: pointer;
        width: 16px;
        height: 15px;
    }
    .main__nav_profile_cart:active{
        #cart{
            transform: translateY(0px);
        }
    }
    #cart{
        transform: translateY(-300px);
        transition: ease-in-out 0.5s;
        position: absolute;
        top: 76px;
        left: 5px;
        right: 5px;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        box-shadow: 0 10px 10px rgba(87, 52, 0, 0.5);
        
        h3 {
            padding: 20px 20px 50px 25px;
            padding-bottom: 50px;
            height: 65px;
            border-bottom: 1px solid rgb(226, 226, 226);
            font-size: 16px;
        }
        
        .cart_full_information {
            padding: 25px;
            display: flex;
            align-items: center;
            flex-direction: row;
            justify-content: space-between;
            
            .cart_full_description {
                display: grid;
                grid-template-rows: 1fr 1fr;
                #item_price, #item_total{
                    font-weight: normal;
                }
                p {
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 168.02%;
                    color: #6A6E77;
                    #item_price_total{
                        font-weight: bold;
                        color:#1E1E1E;
                        margin-left: 5px;
                    }
                }
            }
            
            #thumbnail>img {
                width: 50px;
                height: 50px;
                border-radius: 5px;
            }
        }
    }

    .main__nav_hamburger:active + .main__nav_sidemenu{   ///transition side menu
        visibility: visible;
    }

    .main__nav_sidemenu {
        visibility: hidden;
        width: 65%;
        height: 100%;
        padding: 25px;
        position: absolute;
        top: 0px;
        left: 0;
        z-index: 10;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        a {
            margin-bottom: 16px;
            font-weight: 600;
            font-size: 18px;
            line-height: 168.02%;
            color: #1E1E1E;

        }

        img {
            margin-bottom: 50px;
            cursor: pointer;
        }
    }

    .main__nav_logo {
        margin-left: 17px;

        #sneakers {
            font-weight: 700;
            font-size: 32px;
            line-height: 20px;
            color: #1E1E1E;

        }
    }

    .main__nav_profile_cart {
        margin-left: auto;
    }

    .header__profile_avatar {
        img {
            width: 24px;
            height: 24px;
            margin-left: 27px;
        }
    }
}
////////////////main/////////////////