@import url(https://fonts.googleapis.com/css?family=Kumbh+Sans:100,200,300,regular,500,600,700,800,900);
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a, button {
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

ul, ol, li {
  list-style: none;
}

body {
  font-family: "Kumbh Sans", Arial;
}

header {
  max-width: 1114px;
  margin: 0 auto;
  padding: 2vw;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid rgb(199, 199, 199);
}
header .logo {
  margin-bottom: 6px;
  margin-right: 57px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0.025em;
  color: #1E1E1E;
  cursor: pointer;
}
header nav a {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: hsl(219deg, 9%, 45%);
  margin-right: 30px;
}
header #cart {
  margin-left: auto;
}
header #avatar {
  width: clamp(25px, 50px, 4.8vw);
  margin-left: clamp(23px, 2vw, 50px);
}

main {
  max-width: 1114px;
  padding-top: 5vw;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
main .photo {
  max-width: 450px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr auto;
  row-gap: 30px;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
main .photo #main_photo {
  width: 100%;
  border-radius: 18px;
  grid-column: 1/-1;
  cursor: pointer;
}
main .photo .photo_small {
  max-width: 89px;
  border-radius: 9px;
  cursor: pointer;
}
main .buy {
  margin: 10px;
  max-width: 450px;
  height: 50vh;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
main .buy #sneaker {
  font-weight: 700;
  font-size: 14px;
  line-height: 123.02%;
  letter-spacing: 0.1em;
  color: #F18533;
  text-transform: uppercase;
}
main .buy #edition {
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  letter-spacing: 0.03em;
  color: hsl(220deg, 13%, 13%);
}
main .buy #description {
  font-weight: 400;
  font-size: 15px;
  line-height: 171.5%;
  letter-spacing: 0.025em;
  color: hsl(219deg, 9%, 45%);
}
main .buy #price {
  position: relative;
  font-weight: 700;
  font-size: 28px;
  line-height: 100%;
  color: #1E1E1E;
}
main .buy #price::after {
  content: "50%";
  font-weight: 700;
  font-size: 16px;
  line-height: 171.5%;
  color: #F18533;
  position: absolute;
  top: 0px;
  right: -50px;
}
main .buy #price_deleted {
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.01em;
  color: hsl(218deg, 7%, 76%);
}
main .buy .items_number {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
main .buy .items_number #cart_icon {
  margin-right: 15px;
}
main .buy .items_number #button {
  text-align: center;
  position: relative;
  width: 60%;
  height: 56px;
  background: #F18533;
  border-radius: 9px;
  font-weight: 400;
  font-size: 16px;
  line-height: 171.5%;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
}/*# sourceMappingURL=style.css.map */