@import url(https://fonts.googleapis.com/css?family=Kumbh+Sans:100,200,300,regular,500,600,700,800,900);
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a, button {
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

ul, ol, li {
  list-style: none;
}

body {
  font-family: "Kumbh Sans", Arial;
  position: relative;
}

.side_menu {
  padding: 25px;
  width: 60%;
  background-color: #fff;
  height: 100vh;
  position: fixed;
  display: none;
}
.side_menu img {
  margin-bottom: 50px;
  cursor: pointer;
}
.side_menu a {
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: hsl(220deg, 13%, 13%);
  margin-right: 30px;
}

header {
  max-width: 1114px;
  margin: 0 auto;
  padding: 2vw;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid rgb(199, 199, 199);
}
@media (max-width: 900px) {
  header {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 100;
    width: 100%;
  }
}
@media (max-width: 900px) {
  header .logo::before {
    content: url(images/icon-menu.svg);
    margin-right: 20px;
    margin-left: 5px;
  }
}
header .logo {
  margin-bottom: 6px;
  margin-right: 57px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0.025em;
  color: #1E1E1E;
  cursor: pointer;
}
@media (max-width: 900px) {
  header nav {
    display: none;
  }
}
header nav a {
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: hsl(219deg, 9%, 45%);
  margin-right: 30px;
}
header #cart {
  margin-left: auto;
}
header #avatar {
  width: clamp(25px, 50px, 4.8vw);
  margin-left: clamp(23px, 2vw, 50px);
}

main {
  max-width: 1114px;
  max-height: 900px;
  padding-top: clamp(0px, 90px, 5vw);
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
}
@media (max-width: 900px) {
  main {
    height: 100vh;
    overflow: scroll;
  }
}
main .photo {
  position: relative;
  max-width: 450px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr auto;
  row-gap: 30px;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
@media (max-width: 900px) {
  main .photo {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
main .photo .photo_view {
  cursor: pointer;
  width: 40px;
  height: 40px;
  position: absolute;
  top: calc(50% - 20px);
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 900px) {
  main .photo .photo_view {
    display: none;
  }
}
main .photo #photo_next {
  right: 15px;
}
main .photo #photo_previous {
  left: 15px;
}
main .photo .photo_preview {
  width: 40px;
  height: 40px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  border-radius: 20px;
}
main .photo #main_photo {
  width: 100%;
  border-radius: 18px;
  grid-column: 1/-1;
  cursor: pointer;
}
@media (max-width: 900px) {
  main .photo #main_photo {
    border-radius: 0;
  }
}
main .photo .photo_small {
  max-width: 89px;
  border-radius: 9px;
  cursor: pointer;
}
@media (max-width: 900px) {
  main .photo .photo_small {
    display: none;
  }
}
main .buy {
  padding-top: 4.5vw;
  min-height: 450px;
  max-width: 450px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
}
@media (max-width: 400px) {
  main .buy {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 93vw;
    background-color: #fff;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}
main .buy #sneaker {
  font-weight: 700;
  font-size: clamp(12px, 14px, 2.5vw);
  line-height: 123.02%;
  letter-spacing: 0.1em;
  color: #F18533;
  text-transform: uppercase;
  margin-bottom: 0.75vw;
  margin-top: 0.05vw;
}
main .buy #edition {
  font-weight: 700;
  font-size: clamp(28px, 40px, 3.5vw);
  line-height: max(40px, 1vw);
  letter-spacing: 0.03em;
  color: hsl(220deg, 13%, 13%);
}
main .buy #description {
  font-weight: 400;
  font-size: 15px;
  line-height: 171.5%;
  letter-spacing: 0.025em;
  color: hsl(219deg, 9%, 45%);
}
@media (max-width: 400px) {
  main .buy #description {
    margin-bottom: 20px;
  }
}
main .buy #price {
  position: relative;
  font-weight: 700;
  font-size: 28px;
  line-height: 100%;
  color: #1E1E1E;
}
main .buy #price::after {
  content: "50%";
  font-weight: 700;
  font-size: 16px;
  line-height: 171.5%;
  color: #F18533;
  position: absolute;
  top: 0px;
  right: -50px;
}
main .buy #price_deleted {
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.01em;
  color: hsl(218deg, 7%, 76%);
}
main .buy .items_number {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
@media (max-width: 900px) {
  main .buy .items_number {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
main .buy .items_number .items_number_pl-mn {
  width: 38%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
@media (max-width: 900px) {
  main .buy .items_number .items_number_pl-mn {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin: 30px 0;
  }
}
main .buy .items_number .items_number_pl-mn #total_items {
  font-weight: bold;
}
main .buy .items_number #cart_icon {
  margin-right: 15px;
}
main .buy #button {
  text-align: center;
  width: 60%;
  height: 56px;
  background: #F18533;
  border-radius: 9px;
  font-weight: 400;
  font-size: 16px;
  line-height: 171.5%;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 900px) {
  main .buy #button {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */